body{
    background-color: #1f2937;
}

.header{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 18px;
    padding-right: 15%;
    padding-left: 15%;

}

.one{
    display:flex;
    justify-content: space-between;
    color: #f9faf8;
    font-size: 18px;
    margin: 10px;
    padding-right: 15%;
    padding-left: 15%;
}

.two{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 10px;
}

.text{

}

.ppics{ 
    display: flex;
    flex-direction: column;
    border: solid; 
    border-color:#3882f6;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 100;
}

#picbox{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left:60px;
    margin-right: 60px;
    margin-bottom: 80px;
}

.three{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    text-align: center;
    padding: 100px;
}

.card{
    display: flex;
    background-color: #3882f6;
    padding: 75px;
    color: #f9faf8;
    border-radius: 10px;
    width: 75%;
}

.four{
    display: flex;
    background-color: white;
    padding: 100px;
}

.footer{
    color: white;
    padding: 50px;
    text-align: center;
}

ul{
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 10px;
    text-decoration: none;
}

button{
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: bold; 
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    height: 40px;
}